header {
    background-color: cadetblue;
    text-align: center;
}
nav {
    background-color: bisque;
    text-align: left;
    padding-right: 10%;
    padding-left: 10%;
}
section {
    padding-right: 10%;
    text-align: center;
    padding-left: 10%;

}
article {
    padding-right: 10%;
    padding-left: 10%;
}
footer {
    background-color: black;
    -webkit-text-fill-color: white;
    text-align: center;
}